@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .toggleBtnOff {
        background-color: #BBF7D0;
    }
    .toggleBtnOn {
        background-color: #22C55E;
    }
    .toggleMenuBtnOn {
        background-color: #80FFFFFF;
    }
    .toggleMenuBtnOff {
        background-color: #00000000;
    }
    .visibilityOn {
        flex: none;
        display: hidden;
    }
    .visibilityOff {
        flex: none;
        display: hidden;
    }
}